@import url(https://fonts.googleapis.com/css?family=Prata:400&display=swap);
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Arial," Helvetica Neue ",Helvetica,sans-serif;
  font-size: 1.5rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Arial," Helvetica Neue ",Helvetica,sans-serif;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
html {
  scroll-behavior: smooth
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 121.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: .3125rem
}
.menu__item {
  text-align: right
}
.menu__link {
  position: relative;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: .04em;
  text-transform: uppercase
}
.menu__link::after {
  -webkit-transform: scale(0);
  transform: scale(0);
  transition: all .2s ease;
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #222
}
.header__container {
  min-height: 118px;
  display: flex;
  align-items: center
}
.header__content {
  display: flex;
  align-items: center
}
.header__logo {
  position: relative;
  z-index: 5;
  font-family: Prata,serif;
  line-height: 1.5;
  letter-spacing: .03em;
  text-transform: uppercase
}
.promo {
  background-color: #222
}
.promo__content {
  margin: 0 0 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 3.125rem
}
.promo__body {
  padding-top: 118px;
  max-width: 33.5625rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 3.125rem
}
.promo__title {
  font-family: Prata,serif;
  line-height: 1.2
}
.promo__title:not(:last-child) {
  margin-bottom: .625em
}
.promo__sub-title {
  line-height: 1.2
}
.promo__sub-title:not(:last-child) {
  margin-bottom: 1.28em
}
.promo__list {
  display: flex;
  flex-direction: column
}
.promo__list:not(:last-child) {
  margin-bottom: 1.6666666667em
}
.promo__item {
  display: flex;
  -webkit-column-gap: 1.0625rem;
  -moz-column-gap: 1.0625rem;
  column-gap: 1.0625rem
}
.promo__item::before {
  content: "";
  flex: 0 0 2.4375rem;
  min-width: 2.4375rem;
  height: 2.3125rem;
  background: url(../img/promo/icons/promo-icon.svg) 0 0 no-repeat
}
.promo__text {
  line-height: 110%
}
.promo__price {
  font-family: Prata,serif;
  line-height: 1.5%;
  letter-spacing: .04em;
  text-align: center;
  text-transform: uppercase
}
.promo__button {
  padding: 2rem 3.125rem 2rem 3.125rem;
  color: #222;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: .0666666667em;
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  background-color: #fff;
  align-self: flex-start
}
.promo__img {
  max-width: 100%
}
@media (min-width:120em) {
  .menu__list {
    -webkit-column-gap: 1.8125rem;
    -moz-column-gap: 1.8125rem;
    column-gap: 1.8125rem
  }
  .header__content {
    padding-left: 10rem
  }
  .header__content {
    -webkit-column-gap: 12.8125rem;
    -moz-column-gap: 12.8125rem;
    column-gap: 12.8125rem
  }
  .header__logo {
    font-size: 2.25rem
  }
  .promo__content {
    padding-left: 10rem
  }
  .promo__title {
    font-size: 5rem
  }
  .promo__sub-title {
    font-size: 3.125rem
  }
  .promo__list {
    row-gap: 2.5rem
  }
  .promo__text {
    font-size: 1.5rem
  }
  .promo__price {
    font-size: 2.1875rem
  }
}
@media (max-width:1020px) {
  .promo__content {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center
  }
  .promo__text {
    text-align: left
  }
  .promo__button {
    align-self: center
  }
}
@media (max-width:1020px)and (max-width:20em) {
  .promo__content {
    padding-right: .0000000625rem
  }
}
@media (max-width:48em) {
  .menu__list {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .header__content {
    padding-left: .0000000625rem
  }
  .header__content {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .promo__sub-title {
    font-size: 1.875rem
  }
  .promo__list {
    row-gap: 1.25rem
  }
}
@media (max-width:20em) {
  .header__logo {
    font-size: 1.5625rem
  }
  .promo__content {
    padding-left: .0000000625rem
  }
  .promo__title {
    font-size: 2.1875rem
  }
  .promo__text {
    font-size: 1.25rem
  }
  .promo__price {
    font-size: 1.25rem
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    padding: 6.25rem .9375rem .9375rem 1.875rem;
    transition: left .3s;
    background-color: #7cb7fa
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 5rem;
    left: -100%;
    top: 0;
    transition: left .3s;
    z-index: 2;
    background-color: #222
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.25rem
  }
  .menu__link {
    color: #fff;
    font-size: 2rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    flex: 0 0 1.875rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .header__container {
    min-height: 80px
  }
  .header__content {
    flex: 1 1 auto;
    -webkit-column-gap: 0;
    -moz-column-gap: 0;
    column-gap: 0;
    justify-content: space-between
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (min-width:48em)and (max-width:120em) {
  @supports ((-moz-column-gap:clamp(0.625rem ,-0.1666666667rem + 1.6493055556vw ,1.8125rem)) or (column-gap:clamp(0.625rem ,-0.1666666667rem + 1.6493055556vw ,1.8125rem))) {
    .menu__list {
      -webkit-column-gap: clamp(.625rem ,-.1666666667rem + 1.6493055556vw ,1.8125rem);
      -moz-column-gap: clamp(.625rem ,-.1666666667rem + 1.6493055556vw ,1.8125rem);
      column-gap: clamp(.625rem ,-.1666666667rem + 1.6493055556vw ,1.8125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(0.625rem ,-0.1666666667rem + 1.6493055556vw ,1.8125rem)) or (column-gap:clamp(0.625rem ,-0.1666666667rem + 1.6493055556vw ,1.8125rem))) {
    .menu__list {
      -webkit-column-gap: calc(.625rem + 1.1875*(100vw - 48rem)/ 72);
      -moz-column-gap: calc(.625rem + 1.1875*(100vw - 48rem)/ 72);
      column-gap: calc(.625rem + 1.1875*(100vw - 48rem)/ 72)
    }
  }
  @supports (padding-left:clamp(0.0000000625rem ,-6.6666665625rem + 13.8888888021vw ,10rem)) {
    .header__content {
      padding-left: clamp(.0000000625rem ,-6.6666665625rem + 13.8888888021vw ,10rem)
    }
  }
  @supports not (padding-left:clamp(0.0000000625rem ,-6.6666665625rem + 13.8888888021vw ,10rem)) {
    .header__content {
      padding-left: calc(.0000000625rem + 9.9999999375*(100vw - 48rem)/ 72)
    }
  }
  @supports ((-moz-column-gap:clamp(3.125rem ,-3.3333333333rem + 13.4548611111vw ,12.8125rem)) or (column-gap:clamp(3.125rem ,-3.3333333333rem + 13.4548611111vw ,12.8125rem))) {
    .header__content {
      -webkit-column-gap: clamp(3.125rem ,-3.3333333333rem + 13.4548611111vw ,12.8125rem);
      -moz-column-gap: clamp(3.125rem ,-3.3333333333rem + 13.4548611111vw ,12.8125rem);
      column-gap: clamp(3.125rem ,-3.3333333333rem + 13.4548611111vw ,12.8125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(3.125rem ,-3.3333333333rem + 13.4548611111vw ,12.8125rem)) or (column-gap:clamp(3.125rem ,-3.3333333333rem + 13.4548611111vw ,12.8125rem))) {
    .header__content {
      -webkit-column-gap: calc(3.125rem + 9.6875*(100vw - 48rem)/ 72);
      -moz-column-gap: calc(3.125rem + 9.6875*(100vw - 48rem)/ 72);
      column-gap: calc(3.125rem + 9.6875*(100vw - 48rem)/ 72)
    }
  }
  @supports (font-size:clamp(1.875rem ,1.0416666667rem + 1.7361111111vw ,3.125rem)) {
    .promo__sub-title {
      font-size: clamp(1.875rem ,1.0416666667rem + 1.7361111111vw ,3.125rem)
    }
  }
  @supports not (font-size:clamp(1.875rem ,1.0416666667rem + 1.7361111111vw ,3.125rem)) {
    .promo__sub-title {
      font-size: calc(1.875rem + 1.25*(100vw - 48rem)/ 72)
    }
  }
  @supports (row-gap:clamp(1.25rem ,0.4166666667rem + 1.7361111111vw ,2.5rem)) {
    .promo__list {
      row-gap: clamp(1.25rem ,.4166666667rem + 1.7361111111vw ,2.5rem)
    }
  }
  @supports not (row-gap:clamp(1.25rem ,0.4166666667rem + 1.7361111111vw ,2.5rem)) {
    .promo__list {
      row-gap: calc(1.25rem + 1.25*(100vw - 48rem)/ 72)
    }
  }
}
@media (min-width:20em)and (max-width:120em) {
  @supports (font-size:clamp(1.5625rem ,1.425rem + 0.6875vw ,2.25rem)) {
    .header__logo {
      font-size: clamp(1.5625rem ,1.425rem + .6875vw ,2.25rem)
    }
  }
  @supports not (font-size:clamp(1.5625rem ,1.425rem + 0.6875vw ,2.25rem)) {
    .header__logo {
      font-size: calc(1.5625rem + .6875*(100vw - 20rem)/ 100)
    }
  }
  @supports (padding-left:clamp(0.0000000625rem ,-1.999999925rem + 9.9999999375vw ,10rem)) {
    .promo__content {
      padding-left: clamp(.0000000625rem ,-1.999999925rem + 9.9999999375vw ,10rem)
    }
  }
  @supports not (padding-left:clamp(0.0000000625rem ,-1.999999925rem + 9.9999999375vw ,10rem)) {
    .promo__content {
      padding-left: calc(.0000000625rem + 9.9999999375*(100vw - 20rem)/ 100)
    }
  }
  @supports (font-size:clamp(2.1875rem ,1.625rem + 2.8125vw ,5rem)) {
    .promo__title {
      font-size: clamp(2.1875rem ,1.625rem + 2.8125vw ,5rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,1.625rem + 2.8125vw ,5rem)) {
    .promo__title {
      font-size: calc(2.1875rem + 2.8125*(100vw - 20rem)/ 100)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.2rem + 0.25vw ,1.5rem)) {
    .promo__text {
      font-size: clamp(1.25rem ,1.2rem + .25vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.2rem + 0.25vw ,1.5rem)) {
    .promo__text {
      font-size: calc(1.25rem + .25*(100vw - 20rem)/ 100)
    }
  }
  @supports (font-size:clamp(1.25rem ,1.0625rem + 0.9375vw ,2.1875rem)) {
    .promo__price {
      font-size: clamp(1.25rem ,1.0625rem + .9375vw ,2.1875rem)
    }
  }
  @supports not (font-size:clamp(1.25rem ,1.0625rem + 0.9375vw ,2.1875rem)) {
    .promo__price {
      font-size: calc(1.25rem + .9375*(100vw - 20rem)/ 100)
    }
  }
}
@media (max-width:1020px)and (min-width:120em) {
  .promo__content {
    padding-right: 10rem
  }
}
@media (max-width:1020px)and (min-width:20em)and (max-width:120em) {
  @supports (padding-right:clamp(0.0000000625rem ,-1.999999925rem + 9.9999999375vw ,10rem)) {
    .promo__content {
      padding-right: clamp(.0000000625rem ,-1.999999925rem + 9.9999999375vw ,10rem)
    }
  }
  @supports not (padding-right:clamp(0.0000000625rem ,-1.999999925rem + 9.9999999375vw ,10rem)) {
    .promo__content {
      padding-right: calc(.0000000625rem + 9.9999999375*(100vw - 20rem)/ 100)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover::after {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}